.dpl .bar {
  background: #333;
  color: white;
  display: flex;
  padding: 0.75em 1em;
  justify-content: space-between;
  text-transform: lowercase;
}
.dpl .bar--sizing {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.dpl .sizing {
  background: none;
  border: none;
  color: inherit;
  padding: 0 1em;
  height: 1em;
  cursor: pointer;
  line-height: 1;
}
.dpl .sizing-item {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
.dpl .sizing-item:last-of-type {
  border-right: none;
}
.dpl .open {
  fill: white;
  stroke: white;
  height: 1em;
  padding-left: 0.5em;
}
.dpl .open-link {
  color: white;
  text-decoration: none;
  padding: 0 1em;
}
