.dpl {
  .bar {
    background: #333;
    color: white;
    display: flex;
    padding: .75em 1em;
    justify-content: space-between;
    text-transform: lowercase;
    
    &--sizing {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }

  .sizing {
    background: none;
    border: none;
    color: inherit;
    padding: 0 1em;
    height: 1em;
    cursor: pointer;
    line-height: 1;
    
    &-item {
      border-right: 1px solid rgba(255, 255, 255, .5);
      
      &:last-of-type {
        border-right: none;
      }
    }
  }

  .open {
    fill: white;
    stroke: white;
    height: 1em;
    padding-left: .5em;
    
    &-link {
      color: white;
      text-decoration: none;
      padding: 0 1em;
    }
  }
}
